.eventboard-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.card {
  width: 850px;
  height: 350px;
  display: flex;

  overflow: hidden;
  margin-top: 20px;
  background-color: #694694;
  align-items: center;
  border-radius: 30px;
}

.image {
width: 330px;
max-height: 330px;
overflow: hidden;
margin: 10px;
border-radius: 30px;
background-color: white;
box-sizing: border-box;
}

.image-content {
width: 100%;
height: 100%;
border-radius: 30px;
object-fit: contain;
padding: 10px;
box-sizing: border-box;
}


.details {
flex: 1;
display: flex;
flex-direction: column;
height: 100%;
}

.row {
display: flex;
padding: 10px;
overflow: hidden;

}

.row h2 {
height: 25%;
margin: 0;
}

.row.scrollable {
overflow-y: auto;
height: 42%;
padding-top: 0;
padding-bottom: 0;
}

.row:nth-child(3),
.row:nth-child(4),
.row:nth-child(5) {
height: 5%;
}

.row:nth-child(6) {
  height: 10%;
  justify-content: center;
}


.join-button {
text-align: center;
padding: 10px;
background-color: #4CAF50;
color: white;
cursor: pointer;
}

/* WebKit Scrollbar Styles */
.scrollable::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #5f5f5f; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

.scrollable::-webkit-scrollbar-track {
  background-color: #8585857c; /* Color of the track */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #45a049; /* Color of the thumb on hover */
}

.column {
  flex: 1;
  box-sizing: border-box;
}

.row > div {
  box-sizing: border-box;
}

.row > div:nth-child(1) {
  flex: 2; /* Set the width of the first column */
}

.row > div:nth-child(2) {
  flex: 1; /* Set the width of the second column */
}

.row > div:nth-child(3) {
  flex: 12; /* Set the width of the third column */
}