/*==============Global================*/
body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #3B4252;
}

.fill{
    color: white;
    width: 5px;
    font-weight: bold;
}

/***********************|
|        SIGNUP         |
|***********************/
.container-row {
    background-color: #341B55;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
    padding: 10px;
    line-height: 0;
}

.signup-box {
    background-color: #50316d; 
    color: #ccc;
    width: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.signup-box h1{
    background-color: #50316d;
    color: #ccc;
}

.signup-table th {
    color: white;
    width: auto;
    text-align: left;
    margin-right: 5px;
}

.signup-table textarea{
    background-color: #341B55;
    color: #ccc;
    resize: none;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    width: 93%;
}

.signup-table input{
    background-color: #341B55;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    width: 93%;
}


.button {
    background-color: #341B55; 
    color: #ccc; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 10px; 
}




/***********************|
|         POPUP         |
|***********************/
.popup-container {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*===========================================*/

/*===========================================
  CSS for table add/edit - using id
===========================================*/
#addDiv table{	
	border-collapse: collapse;
	width: 50%;
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;
}

#addDiv select{
	padding: 5px;
}

#addDiv input[type="text"]{
	padding: 5px;
}	

#addDiv textarea{
	width:95%;
	padding: 5px;
}

#addDiv td, #addDiv th {
	border: 1px solid #616161;
	padding: 8px;
}

/*==============Event Board================*/
.event-board-div{
    background-color: #5682b5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width: 75%;
}
.view-event-poster{
    width: 100%;
    margin-left:0;
    border-radius: 5%;
}
.event-poster{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5%;
}
#event-list-table {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    width: 100%;
   }
   #event-list-table td, #event-list-table th {
    border: 1px solid #616161;
    padding: 8px;
   }
   #event-list-table tr:nth-child(even){background-color: #ddd;}
   #event-list-table tr:hover {background-color: #C8B4BA;}
   #event-list-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0876B8;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: black;
   }
   #event-list-table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
   }

   #event-list-table tr:nth-child(1) {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0097E1; 
    color: black; 
    font-weight: bold;
  }

#event-list-table td.status-active {
    color: green;
}

#event-list-table td.status-closed {
    color: red;
}

#event-list-table td.status-pending {
    color: rgb(236, 161, 0);
}

.update-event-table{
    border: none;
    background-color: #5682b5;
    padding: 10px;
    border-radius: 5px;
    border-spacing: 2px;
    border-collapse: separate;
    width: 100%;

}

.update-event-table th{
    width: 15%;
    text-align: left;
}


.table-event-board {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.table-event-board td {
    padding: 8px; 
}

.table-event-board td:nth-child(1) {
    width: 40%;
}

.table-event-board td:nth-child(2) {
    width: 60%; 
}

.table-event-board td:nth-child(3) {
    width: 60%; 
    text-align: center;
}

.table-event-board td:nth-child(4) {
    width: 60%; 
}

.table-event-board td:nth-child(5) {
    width: 60%; 
}

.table-event-board td:nth-child(6) {
    width: 60%; 
}

#delete-button{
    height: 34px;
    width: 60px;
    text-align: center;
    background-color: #ff4742;
    color: white;
    border: 2px solid #ff4742;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
    
}

#delete-button:hover{
    background-color: #ffffff;
    
    color: #ff4742;
}

#update-button{

    height: 34px;
    width: 60px;
    text-align: center;
    background-color: #0078d4;
    color: white;
    border: 2px solid #0078d4;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
    
}

#update-button:hover{
    background-color: #ffffff;
    
    color: #0078d4;
}

#update-confirm-button{

    height: 34px;
    width: 60px;
    text-align: center;
    background-color: #1ED760;
    color: white;
    border: 2px solid #1ED760;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
    
}

#update-confirm-button:hover{
    background-color: #ffffff;
    
    color: #1ED760;
}

#joinbutton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px; /* Set line-height equal to the height */
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 60px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 0 24px; /* Adjust padding for horizontal spacing */
    color: #fff;
    background-color: #1ED760;
    height: 24px; /* Set height equal to line-height */
}

#joinbutton:hover {
    transform: scale(1.04);
    background-color: #21e065;
}


#joinbutton:hover {
    transform: scale(1.04);
    background-color: #21e065;
}

header{
    width: 100%;
    height: 120%1
    
}
header h1{
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 5%;
    color: #ffffff;
}
body { 
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
    color: #000000;
    font-family: "Raleway", sans-serif
    }
   
   h1 {background-color: #eee;
    color: #000000;
    line-height: 200%;
    font-family: "Raleway", sans-serif
    }
   
   h2 {
    color: #000000;
    font-family: "Raleway", sans-serif
    }

    


   p {
    font-size: 12pt; text-indent: 3em;
    color: #000000;
   } 



.banner {
    width: 100%;
    height: auto;
     text-align: center;
     color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
    } 

.topnav {
    overflow: hidden;
    background-color: #004FA7;
    margin-top: 0;
   }
   /* Style the topnav links */
   .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   /* Change color on hover */
   .topnav a:hover {
    background-color: #ddd;
    color: black;
   }

   .topnav a:last-child {
    float: right;
    }
   .row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
   }
   .col-left {
   text-align: center; /* Center the image horizontally */
   flex: 20%;
   padding: 15px;
   }
   .col-right {
   flex: 70%; /* Takes 1/3 of the available width */
   padding: 15px;
   }
   /* Media query for smaller screens (e.g., 768px) */
   @media screen and (max-width: 768px) {
    .row {
    /* Stack elements vertically on smaller screens */
    flex-direction: column;
    width: 95%;
    }
   
   [class*="col-"] {
   /* Reset the flex property to prevent stretching */
    flex: none;
    width: 100%;
    }
   } 
