<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="C:/Users/Haamda Juanda/Documents/EventManagementSystem/vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
